* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}


p {
    font-size: 2rem;
}

h1 {
    background-color: red;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

div {
    width: 500px;
}

header {
    width: 300px;
}

.caja {
    width: 100%;
    height: 20vh;
    background-color: #000;
}